<div class="like">
  <% if current_user.liked_posts.include?(post) %>
    <% like_id = current_user.likes.select { |likes| likes.post_id == post.id } %>
    <%= button_to image_tag("liked.png", class: "like__icon"),
        like_path(like_id),
        method: :delete,
        class: "btn btn--icon",
        title: "Unlike"
    %>
  <% else %>
    <%= button_to image_tag("like.png", class: "like__icon"),
        likes_path,
        params: { "like[post_id]": post.id },
        method: :post,
        class: "btn btn--icon",
        title: "Like"
    %>
  <% end %>
  
  <div class="like__count">
    <% if post.liked_by.any? %>
      <%= pluralize(post.liked_by.count, "Like") %>
    <% end %>
  </div>
</div>