<div class="user-show sidebar">
  <div class="profile">
    Placeholder for profile information.
  </div>
  <div class="friends">
    Placeholder for friends list.
  </div>
</div>
<div class="user-show content">
  <%= render 'posts/post', posts: @posts %>
</div>