<%= turbo_frame_tag post do %>
  <div class="post">
    <div class="post__header">
      <div class="post__author">
        <%= link_to post.user.profile.name, post.user %>
      </div>
      <div class="post_date">
        <%= post.formatted_datetime %>
      </div>
    </div>
    
    <div class="post__body">
      <%= post.content %>
    </div>
  </div>
<% end%>
