<div class="post-container">
  <%= link_to post.user.profile.name, post.user %>
  <%= post.formatted_datetime%>
  <h3><%= post.content %></h3>

  <%= render partial: "likes/post_likes", locals: {post: post} %>
</div>