<div class="post-comment-meta">
  <div class="post-comment-meta__author">
    <%= link_to author.profile.name, author, data: { turbo: false } %>
  </div>
  <div class="post-comment-meta__date">
    <%= formatted_datetime(date) %>
  </div>
</div>
